<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="department_listing_data_source" xsi:type="string">Dtn\Office\Model\ResourceModel\Department\Grid\Collection</item>
                <item name="employee_listing_data_source" xsi:type="string">Dtn\Office\Model\ResourceModel\Employee\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Dtn\Office\Model\ResourceModel\Department\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dtn_department</argument>
            <argument name="resourceModel" xsi:type="string">Dtn\Office\Model\ResourceModel\Department</argument>
        </arguments>
    </virtualType>
    <virtualType name="Dtn\Office\Model\ResourceModel\Employee\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dtn_employee</argument>
            <argument name="resourceModel" xsi:type="string">Dtn\Office\Model\ResourceModel\Employee</argument>
        </arguments>
    </virtualType>
    <type name="Dtn\Office\Controller\Adminhtml\Employee\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Dtn\Office\EmployeeImageUpload</argument>
        </arguments>
    </type>
    <virtualType name="Dtn\Office\EmployeeImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">dtn/employee/tmp/images</argument>
            <argument name="basePath" xsi:type="string">dtn/employee/images</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <preference for="Dtn\Office\Api\EmployeeRepositoryInterface" type="Dtn\Office\Model\EmployeeRepository" />
    <type name="Dtn\Office\Model\EmployeeRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor</argument>
        </arguments>
    </type>
    <preference for="Dtn\Office\Api\Data\EmployeeInterface" type="Dtn\Office\Model\Employee" />
</config>
